---
import Layout from "../layouts/Layout.astro";
import { SectionHero } from "../components/SectionHero/SectionHero";
import {Contact} from "@/Countainers/Contact/Contact";
import { Portafolio } from "@/Countainers/Portafolio/Portafolio";
import { Resumen } from "@/Countainers/Resumen/Resumen";
import { Skills } from "@/Countainers/Skills/Skills"
import { About } from "@/Countainers/About/About"
---

<Layout title="Protafolio Jorge Balderas">
	<!-- ======= Hero Section ======= -->
	<SectionHero />
	<!-- ======= Hero Section ======= -->

	<main id="main">
		<!-- ======= About Section ======= -->
		<About/>
		<!-- End About Section -->

		<!-- ======= Skills Section ======= -->
		<Skills/>
		<!-- End Skills Section -->

    	<!-- ======= Resume Section ======= -->
		<Resumen/>
	  	<!-- End Resume Section -->

    	<!-- ======= Portfolio Section ======= -->
		<Portafolio/>
		<!-- End Portfolio Section -->

		<!-- ======= Contact Section ======= -->
		<Contact/>
		<!-- End Contact Section -->

		<footer></footer>
	</main>

	<style></style>
</Layout>
